img{

    display: flex;
    width: 150px;
    height: 100px;
 

}
body{
    background-color: steelblue;
}
h1{
    text-align: center;
}
.list{
    display: none;
    width: 300px;
    background-color: lightgreen;
}
.list:hover{
    background-color: darkgreen;
}
.dropdown{
    background-color: darkgreen;
}
.dropbox:hover .list{
    display: block;
}
.aptitude
{
    width: 250px;
    height: 150px;
    
}
button{
    width: 200px;
    height:50px;
    background-color: darkgray;

}
#hidden1 , #hidden2 , #hidden3 , #hidden4 , #hidden6{
    display: none;
}

#hidden10
{
    display: none;
}
.green{
    background-color: darkcyan;
}