img{

    display: flex;
    width: 150px;
    height: 100px;
 

}
body{
    background-color: steelblue;
}
h1{
    text-align: center;
}
.list{
    display: none;
    width: 300px;
    background-color: lightgreen;
}
.list:hover{
    background-color: darkgreen;
}
.dropdown{
    background-color: darkgreen;
}
.dropbox:hover .list{
    display: block;
}
.aptitude
{
    width: 250px;
    height: 150px;
    
}
button{
    width: 200px;
    height:50px;
    background-color: darkgray;

}
#hidden1 , #hidden2 , #hidden3 , #hidden4 , #hidden6{
    display: none;
}

#hidden10
{
    display: none;
}

.green{
   
    background-color: darkcyan;
    width: 200px;
    align-items: center;
    
}
#heading{
    display: flex;
    font-size: 60px;
    font-family: 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}
#hidden10{
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
}
#hidden1, #hidden2 , #hidden3 , #hidden4{
    font-size: 60px;
    font-family: 'Courier New', monospace;;
}
.images{
width: 400px;

}
.images img{
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
}
img{
    padding: solid 20px black;
}

